* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial;
  min-width: 320px;
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 0px;
}

/* Create four equal columns that sits next to each other */
.columnx {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 2px;
}

.columnx img {
  margin-top: 4px;
  vertical-align: middle;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .columnx {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
  }
}


@media screen and (min-width: 801px) {
  .valami {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20%;
    padding-right: 20%;
  }
  .columnx {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
}
}

* {
  -webkit-tap-highlight-color: transparent;
}

.ui-helper-hidden-accessible{
  display: none;
}